*{
    margin: 0;
    padding: 0;
    background-color: rgb(165, 151, 151);
    color: #000000;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: "Helvetica Now Display";
    box-sizing: border-box;
    
}
html, body{
    height: 100%;
    width: 100%;
    /* font-family: Arial, Helvetica, sans-serif; */
}
#nav{
    padding: 30px 70px;
}
#nav, a{
    color: #000000;
    font-size: 25px;
    margin-right: 30px;;
    text-decoration: none;
}
#main > h1{     /* main ke direct andr bala h1 */
    position: absolute;
    font-size: 300px;
    font-weight:400;
    left: 4%;
}   
#btmleft{
    width: 300px;
    position: absolute;
    bottom:10%;
    left: 4%;
}
#btmleft, h3 {
    font-size: 25px;
}
#btmleft, p{
    font-size: 15px;
    margin-top: 5px;
}
#btmleft, h4 {
    margin-top: 20px;
    font-size: 25px;
}
#bottombar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 3px 60px;
    /* padding-left: 50px; */
    position: absolute;
    bottom: 0;
    left: 0;;
}
#bottombar a{
    color: #000000;
    text-decoration:none;
    font-size: 25px;
}
#main>img{
    position: absolute;
    height: 250px;

}
#main #first{
    height:350px;
    top: 45%;
    left: 56%;
}
#main #second{
    height:300px;
    top: 55%;
    left: 35%;
}
#main #third{
    height:270px;
    top: 60%;
    left: 46.3%;
}
